<div class="lg:px-16 px-18 bg-[#fafafb]">
  <!-- TECHNOLOGY -->
  <div class="text-center border-b-1 px-10 py-24">
    <div class="h-44 flex flex-col justify-evenly [&>p]:text-xl">
      <h2 class="font-semibold text-42-gray" style="font-size: 3rem">
        Technology
      </h2>
      <p>Sleek, modern, and intuitive trading platforms</p>
      <p class="flex justify-center">
        Check out our &#160;
        <a
          class="group flex items-center text-curious-blue hover:text-black cursor-pointer"
        >
          investment offerings
          <span class="group-hover:fill-black">→</span>
        </a>
      </p>
    </div>
  </div>

  <!-- KITE -->
  <div class="flex flex-row justify-between px-10 py-12 gap-x-32">
    <div class="w-full">
      <a href="">
        <img
          style="width: 100%"
          src="https://zerodha.com/static/images/products-kite.png"
          alt="KITE"
        />
      </a>
    </div>

    <div class="pt-12 w-3/5">
      <h2 class="mb-7 text-4xl text-42-gray font-semibold">Kite</h2>
      <p class="text-lg">
        Our ultra-fast flagship trading platform with streaming market data,
        advanced charts, an elegant UI, and more. Enjoy the Kite experience
        seamlessly on your Android and iOS devices.
      </p>

      <div class="flex justify-between w-9/12 py-6">
        <!-- Try Demo -->
        <div
          class="group cursor-pointer text-lg w-fit flex items-center text-curious-blue hover:text-black"
        >
          <a>Try demo </a>
          <svg
            class="pt-1 group-hover:fill-black"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            fill="#387ED1"
          >
            <path
              d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"
            />
          </svg>
        </div>

        <!-- Learn More -->
        <div
          class="group cursor-pointer text-lg w-fit flex items-center text-curious-blue hover:text-black"
        >
          <a>Learn more </a>
          <svg
            class="pt-1 group-hover:fill-black"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            fill="#387ED1"
          >
            <path
              d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"
            />
          </svg>
        </div>
      </div>

      <div class="flex w-10/12 justify-between">
        <div>
          <img
            src="https://zerodha.com/static/images/google-play-badge.svg"
            alt="google-play-badge"
          />
        </div>
        <div>
          <img
            src="https://zerodha.com/static/images/appstore-badge.svg"
            alt="appstore-badge"
          />
        </div>
      </div>
    </div>
  </div>
</div>
