<div class="container-fluid lg:px-7 px-4 bg-[#fafafb]">
  <!-- first Footer -->
  <div
    class="mt-24 lg:px-10 px-0 py-10  grid grid-rows-1 md:grid-cols-4 grid-col-1 text-left gap-x-6"
  >
    <div class="h-3/5 flex-col justify-between">
      <img
        class="md:max-h-4 max-h-5"
        src="https://zerodha.com/static/images/logo.svg"
        alt=""
      />
      <div class="flex flex-col justify-between py-4">
        <p class="text-sm">© 2010 - 2024, Zerodha Broking Ltd.</p>
        <p class="text-sm">All rights reserved.</p>
      </div>

      <ul class="md:w-5/6 w-fit gap-x-4 md:gap-x-0 flex lg:justify-between flex-wrap">
        <li class="max-h-5 lg:mr-0 mr-4 mb-3">
          <a class="w-fit flex justify-center">
            <img
              class="h-full"
              width="22px"
              src="https://zerodha.com/static/images/x-twitter.svg"
              alt=""
            />
          </a>
        </li>
        <li class="max-h-5 lg:mr-0 mr-4">
          <a>
            <fa-icon class="flex items-start text-dove-gray" [icon]="faFacebook"></fa-icon>
          </a>
        </li>
        <li class="max-h-5 lg:mr-0 mr-4">
          <a>
            <fa-icon class="flex items-start text-dove-gray" [icon]="faInsta"></fa-icon>
          </a>
        </li>
        <li class="max-h-5 lg:mr-0 mr-3">
          <a>
            <fa-icon class="flex items-start text-dove-gray" [icon]="faLinkedIn"></fa-icon>
          </a>
        </li>
        <li class="max-h-5 lg:mr-0 mr-3">
          <a>
            <fa-icon class="flex items-start text-dove-gray" [icon]="faTelegram"></fa-icon>
          </a>
        </li>
        <li>
          <a>
            <img src="https://zerodha.com/static/images/youtube.svg" alt="youtube" />
          </a>
        </li>
      </ul>
    </div>

    <!-- COMPANY -->
    <div class="flex flex-col gap-y-4 mt-5 md:mt-0 w-fit">
      <h2 class="text-xl font-semibold">Company</h2>
      <ul
        class="company text-dove-gray flex flex-col justify-between gap-y-2 cursor-pointer text-base"
      >
        <li>
          <a>About</a>
        </li>
        <li>
          <a>Products</a>
        </li>
        <li>
          <a>Pricing</a>
        </li>
        <li>
          <a>Referral Programme</a>
        </li>
        <li>
          <a>Careers</a>
        </li>
        <li>
          <a>Zerodha.tech</a>
        </li>
        <li>
          <a href="">Press & media</a>
        </li>
        <li>
          <a href="">Zerodha Cares (CSR) </a>
        </li>
      </ul>
    </div>

    <!-- SUPPORT-->
    <div class="flex flex-col mt-5 md:mt-0 gap-y-4 w-fit">
      <h2 class="text-xl font-semibold">Support</h2>
      <ul
        class="company text-dove-gray flex flex-col justify-between gap-y-2 cursor-pointer text-base"
      >
        <li>
          <a>Contact us</a>
        </li>
        <li>
          <a>Support portal</a>
        </li>
        <li>
          <a>z-connect blog</a>
        </li>
        <li>
          <a>List of charges</a>
        </li>
        <li>
          <a>Downloads & resources</a>
        </li>
        <li>
          <a>Videos</a>
        </li>
        <li>
          <a href="">Market overview</a>
        </li>
        <li>
          <a href="">How to file a complaint?</a>
        </li>
        <li><a>Status of your complaints </a></li>
      </ul>
    </div>

    <!-- Account -->
    <div class="flex flex-col mt-5 md:mt-0 gap-y-4 w-fit">
      <h2 class="text-xl font-semibold">Account</h2>
      <ul
        class="company text-dove-gray flex flex-col justify-between gap-y-2 cursor-pointer text-base"
      >
        <li><a href="">Open an account</a></li>
        <li><a href="">Fund transfer</a></li>
      </ul>
    </div>
  </div>

  <!-- Second Footer -->

  <div class="md:mt-16 mt-10 text-xs lg:px-10 px-0 pb-6 text-justify text-dove-gray">
    <span class="mb-5 inline-block">
      Zerodha Broking Ltd.: Member of NSE, BSE​ &​ MCX – SEBI Registration no.:
      INZ000031633 CDSL/NSDL: Depository services through Zerodha Broking Ltd. –
      SEBI Registration no.: IN-DP-431-2019 Commodity Trading through Zerodha
      Commodities Pvt. Ltd. MCX: 46025; NSE-50001 – SEBI Registration no.:
      INZ000038238 Registered Address: Zerodha Broking Ltd., #153/154, 4th
      Cross, Dollars Colony, Opp. Clarence Public School, J.P Nagar 4th Phase,
      Bengaluru - 560078, Karnataka, India. For any complaints pertaining to
      securities broking please write to
      <a href="" class="text-curious-blue hover:text-black cursor-pointer"
        >complaints&#x40;zerodha.com</a
      >, for DP related to
      <a href="" class="text-curious-blue hover:text-black cursor-pointer"
        >dp&#x40;zerodha.com</a
      >. Please ensure you carefully read the Risk Disclosure Document as
      prescribed by SEBI | ICF
    </span>
    <span class="mb-5 inline-block"
      >Procedure to file a complaint on
      <a href="" class="text-curious-blue hover:text-black cursor-pointer"
        >SEBI SCORES</a
      >: Register on SCORES portal. Mandatory details for filing complaints on
      SCORES: Name, PAN, Address, Mobile Number, E-mail ID. Benefits: Effective
      Communication, Speedy redressal of the grievances</span
    >
    <span
      class="mb-5 inline-block text-curious-blue hover:text-black cursor-pointer"
    >
      Smart Online Dispute Resolution
    </span>
    <br />
    <span class="mb-5 inline-block"
      >Investments in securities market are subject to market risks; read all
      the related documents carefully before investing.</span
    >
    <span class="mb-5 inline-block"
      >Attention investors: 1&#41; Stock brokers can accept securities as
      margins from clients only by way of pledge in the depository system w.e.f
      September 01, 2020. 2&#41; Update your e-mail and phone number with your
      stock broker / depository participant and receive OTP directly from
      depository on your e-mail and/or mobile number to create pledge. 3&#41;
      Check your securities / MF / bonds in the consolidated account statement
      issued by NSDL/CDSL every month.</span
    >
    <span class="mb-5 inline-block"
      >"Prevent unauthorised transactions in your account. Update your mobile
      numbers/email IDs with your stock brokers. Receive information of your
      transactions directly from Exchange on your mobile/email at the end of the
      day. Issued in the interest of investors. KYC is one time exercise while
      dealing in securities markets - once KYC is done through a SEBI registered
      intermediary (broker, DP, Mutual Fund etc.), you need not undergo the same
      process again when you approach another intermediary." Dear Investor, if
      you are subscribing to an IPO, there is no need to issue a cheque. Please
      write the Bank account number and sign the IPO application form to
      authorize your bank to make payment in case of allotment. In case of non
      allotment the funds will remain in your bank account. As a business we
      don't give stock tips, and have not authorized anyone to trade on behalf
      of others. If you find anyone claiming to be part of Zerodha and offering
      such services, please
      <a href="" class="text-curious-blue hover:text-black cursor-pointer"
        >create a ticket here</a
      >.</span
    >
  </div>
</div>
