<div class="w-full fixed h-16">
  <nav
    class="w-full h-full navbar px-16 border-b-1 border-[#e0dddd] flex justify-between bg-white"
  >
    <div class="flex items-center w-28 cursor-pointer">
      <img
        src="https://zerodha.com/static/images/logo.svg"
        alt="zerodha"
        class="max-h-4"
      />
    </div>

    <div class="flex items-center text-base cursor-pointer">
      <div class="hidden md:block">
        <ul class="list-none flex items-center justify-between">
          <li class="p-4">SignUp</li>
          <li class="p-4">About</li>
          <li class="p-4">Products</li>
          <li class="p-4">Pricing</li>
          <li class="p-4">Support</li>
          <!-- <li class="p-4 mt-1" (click)="showPopup()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="22"
            viewBox="0 -960 960 960"
            width="22"
          >
            <path
              d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
            />
          </svg>
        </li> -->
        </ul>
      </div>
      <div class="p-4 mt-1" (click)="showPopup()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="22"
          viewBox="0 -960 960 960"
          width="22"
        >
          <path
            d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
          />
        </svg>
      </div>
    </div>

    <!-- POP UP -->
    <div
      *ngIf="open"
      class="pop-up shadow shadow-black-500/50 w-6/12 bg-white transition-all ease-in absolute z-100 border-1 rounded-sm"
    >
      <div class="px-5 py-8">
        <div class="grid grid-rows-1 grid-cols-4 gap-x-6 cursor-pointer">
          <!-- KITE -->
          <div class="group flex flex-col items-center">
            <img
              class="group-hover:opacity-85"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/kite-logo.svg"
              alt=""
            />
            <span
              class="group-hover:text-curious-blue text-dove-gray font-medium"
              >Kite</span
            >
            <span class="py-1 text-sm text-dove-gray">Trading platform</span>
          </div>

          <!-- CONSOLE -->
          <div class="group flex-center items-center">
            <img
              class="group-hover:opacity-85"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/console.svg"
              alt=""
            />
            <span
              class="group-hover:text-curious-blue text-dove-gray font-medium"
              >Console</span
            >
            <span class="py-1 text-sm text-dove-gray">Backoffice</span>
          </div>

          <!-- KITE CONNECT -->
          <div class="group flex-center hover:text-curious-blue">
            <img
              class="group-hover:opacity-85"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/kite-connect.svg"
              alt=""
            />
            <span
              class="group-hover:text-curious-blue text-dove-gray font-medium"
              >Kite Connect</span
            >
            <span class="py-1 text-sm text-dove-gray">Trading APIs</span>
          </div>

          <!-- COIN -->
          <div class="group flex-center hover:text-curious-blue">
            <img
              class="group-hover:opacity-85"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/coin.svg"
              alt=""
            />
            <span
              class="group-hover:text-curious-blue text-dove-gray font-medium"
              >Coin</span
            >
            <span class="py-1 text-sm text-dove-gray">Mutual Funds</span>
          </div>
        </div>
      </div>

      <div class="py-10 px-12 bg-[#fafafb]">
        <!-- UTILITIES -->
        <div class="grid grid-rows-1 grid-cols-3 w-fit gap-x-2">
          <div class="">
            <h2 class="text-lg font-medium mb-3">Utilities</h2>
            <ul
              class="utilities flex flex-col gap-y-1 text-dove-gray cursor-pointer"
            >
              <li>Brokerage calculator</li>
              <li>Margin calculator</li>
              <li>Holiday calendar</li>
            </ul>
          </div>

          <!-- UPDATES -->
          <div class="">
            <h2 class="text-lg font-medium mb-3">Updates</h2>
            <ul
              class="utilities flex flex-col gap-y-1 text-dove-gray cursor-pointer"
            >
              <li>Z-Connect blog</li>
              <li>Pluse News</li>
              <li>Circulars / Bulletin</li>
              <li>IPOs</li>
            </ul>
          </div>

          <!-- EDUCATION -->
          <div>
            <h2 class="text-lg font-medium mb-5">Education</h2>
            <div class="grid grid-rows-1 grid-cols-2 cursor-pointer">
              <div class="group">
                <img
                  class="group-hover:opacity-85"
                  src="https://zerodha.com/static/images/products/varsity.png"
                  alt=""
                />
                <span
                  class="inline-block py-2 group-hover:text-curious-blue text-dove-gray font-medium"
                  >Varsity</span
                >
              </div>
              <div class="group">
                <img
                  class="group-hover:opacity-85"
                  src="https://zerodha.com/static/images/products/tqna.png"
                  alt=""
                />
                <span
                  class="inline-block py-2 group-hover:text-curious-blue text-dove-gray font-medium"
                  >Trading Q&A</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
