<div class="w-full fixed h-16">
  <nav
    class="w-full h-full navbar px-4 xl:px-16 border-b-1 border-[#e0dddd] flex justify-between bg-white"
  >
    <div class="flex items-center cursor-pointer">
      <!-- <img
        src="https://zerodha.com/static/images/logo.svg"
        alt="zerodha"
        class="mdl:max-h-4 max-h-5 h-auto"
      /> -->
    </div>

    <div class="flex items-center text-base cursor-pointer">
      <div class="hidden mdl:block text-dove-gray">
        <ul class="list-none flex items-center justify-between">
          <li class="p-4 hover:text-curious-blue"><a routerLink="/">Signup</a></li>
          <li class="p-4"><a routerLink="/about">About</a></li>
          <li class="p-4"><a routerLink="/products">Products</a></li>
          <li class="p-4">Pricing</li>
          <li class="p-4">Support</li>
        </ul>
      </div>
      <div class="p-4 mt-1" (click)="showPopup()" >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="26"
          viewBox="0 -960 960 960"
          width="26"
        >
          <path
            d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
          />
        </svg>
      </div>
    </div>

    <!-- POP UP -->
    <div
      *ngIf="open"
      class="pop-up shadow-xl shadow-black-500/50 bg-white transition-all ease-in absolute  right-0 lg:right-16 md:right-10 z-100 border-1 rounded-sm"
    >

    <!-- Navbar lists -->
    <div class="border-b-1 block mdl:hidden">
      <img class="absolute right-0 pt-2 px-6 cursor-pointer" src="assets/images/close.svg" width="80px"  alt="Close" (click)="showPopup()">
        <ul class="w-auto grid grid-cols-2 py-3 px-8">
          <li class="p-2 text-base"  (click)="closePopupOnNavigatePage()"><a routerLink="/">SignUp</a></li>
          <li class="p-2 text-base" (click)="closePopupOnNavigatePage()"><a routerLink="/about">About</a></li>
          <li class="p-2 text-base" (click)="closePopupOnNavigatePage()"> <a routerLink="/products">Products</a></li>
          <li class="p-2 text-base" (click)="closePopupOnNavigatePage()">Pricing</li>
          <li class="p-2 text-base" (click)="closePopupOnNavigatePage()">Support</li>
        </ul>
    </div>

      <div class="px-5 py-8">
        <div class="grid mdl:grid-cols-4 grid-cols-2 gap-x-6 cursor-pointer">

          <!-- KITE -->
          <div class="group flex p-1 md:p-0 mdl:flex-col items-center w-fit ">
            <img
              class="group-hover:opacity-85 kite-img"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/kite-logo.svg"
              alt=""
            />
            <span
              class="group-hover:text-curious-blue text-dove-gray font-medium"
              >Kite</span
            >
            <span class="py-1 text-sm text-dove-gray hidden mdl:block ">Trading platform</span>
          </div>

          <!-- CONSOLE -->
          <div class="group flex-center items-center">
            <img
              class="group-hover:opacity-85 kite-img"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/console.svg"
              alt=""
            />
            <span
              class="group-hover:text-curious-blue text-dove-gray font-medium"
              >Console</span
            >
            <span class="py-1 text-sm text-dove-gray hidden mdl:block">Backoffice</span>
          </div>

          <!-- KITE CONNECT -->
          <div class="group flex-center hover:text-curious-blue">
            <img
              class="group-hover:opacity-85 kite-img"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/kite-connect.svg"
              alt=""
            />
            <span
              class="group-hover:text-curious-blue text-dove-gray font-medium"
              >Kite Connect</span
            >
            <span class="py-1 text-sm text-dove-gray hidden mdl:block">Trading APIs</span>
          </div>

          <!-- COIN -->
          <div class="group flex-center hover:text-curious-blue">
            <img
              class="group-hover:opacity-85 kite-img"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/coin.svg"
              alt=""
            />
            <span
              class="group-hover:text-curious-blue text-dove-gray font-medium"
              >Coin</span
            >
            <span class="py-1 text-sm text-dove-gray hidden mdl:block">Mutual Funds</span>
          </div>

          <!-- START -->
          <!-- Show varsity and trading on the medium screen size -->
          <!-- VARSITY -->
          <div class="group p-1 flex hover:text-curious-blue items-center block md:hidden">
            <img
              class="group-hover:opacity-85 varsity-img"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/varsity.png"
              alt=""
            />
            <span
              class="px-2 group-hover:text-curious-blue text-dove-gray font-medium"
              >varsity</span>
          </div>

          <!-- Trading Q & A -->
          <div class="group p-1 flex hover:text-curious-blue items-center  block md:hidden">
            <img
              class="group-hover:opacity-85 varsity-img"
              width="50px"
              height="50px"
              src="https://zerodha.com/static/images/products/tqna.png"
              alt=""
            />
            <span
              class="px-2 group-hover:text-curious-blue text-dove-gray font-medium"
              >Trading Q&A</span>
          </div>

          <!-- END -->
        </div>
      </div>

      <div class="py-10 px-12 bg-[#fafafb] rounded-b">
        <!-- UTILITIES -->
        <div class="grid grid-rows-1 grid-cols-2 md:grid-cols-3 md:w-fit md:gap-x-10 md:gap-x-2  ">
          <!-- <div class="flex  "> -->
          <div class="">
            <h2 class="text-lg font-medium mb-3">Utilities</h2>
            <ul
              class="utilities flex flex-col gap-y-1 text-dove-gray cursor-pointer"
            >
              <li>Brokerage calculator</li>
              <li>Margin calculator</li>
              <li>Holiday calendar</li>
            </ul>
          </div>

          <!-- UPDATES -->
          <div class="">
            <h2 class="text-lg font-medium mb-3">Updates</h2>
            <ul
              class="utilities flex flex-col gap-y-1 text-dove-gray cursor-pointer"
            >
              <li>Z-Connect blog</li>
              <li>Pluse News</li>
              <li>Circulars / Bulletin</li>
              <li>IPOs</li>
            </ul>
          </div>

          <!-- EDUCATION and hide on medium screen on this tile-->
          <div class="hidden md:block">
            <h2 class="text-lg font-medium mb-5">Education</h2>
            <div class="grid grid-rows-1 grid-cols-2 cursor-pointer">
              <div class="group">
                <img
                  class="group-hover:opacity-85"
                  src="https://zerodha.com/static/images/products/varsity.png"
                  alt=""
                />
                <span
                  class="inline-block py-2 group-hover:text-curious-blue text-dove-gray font-medium"
                  >Varsity</span
                >
              </div>
              <div class="group">
                <img
                  class="group-hover:opacity-85"
                  src="https://zerodha.com/static/images/products/tqna.png"
                  alt=""
                />
                <span
                  class="inline-block py-2 group-hover:text-curious-blue text-dove-gray font-medium"
                  >Trading Q&A</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
